
.top-banner {
    width: 100%;
    z-index: 1;
    position: relative;
    overflow: hidden;
    background-color: #131313;
    padding: 7px 30px;
  }
  .top-banner:before {
    content: "";
    background-color: #1a73e9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0%, 97% 100%, 0 100%);
  }
  .top-banner:after {
    content: "";
    position: absolute;
    background-color: #fff;
    top: -5px;
    left: 30%;
    bottom: -4px;
    width: 3px;
    z-index: -1;
    transform: rotate(23deg);
  }
  .menu {
    width: 100%;
    position: absolute;
    top: -100%;
    right: 0;
    background-color: #fff;
    transform: translateY(-100%);
    opacity: 0;
    z-index: 100;
    transition-property: transform;
  }
  .menu.active {
    top: 100%;
    opacity: 1;
    transform: translateY(2px);
  }
  .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
  }
  .service-link:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 23px;
    width: 2px;
    height: 8px;
    background: #131313;
    transition: all .3s ease;
  }
  .service-menu:hover .service-link:before {
    transform: translateY(-50%) rotate(90deg);
    opacity: 0;
  }
  @media (max-width: 1199px) {
    .service-link::before {
    right: 16px;
  }
  .service-link:after {
    right: 16px;
  }
  }
  
  
  .service-link:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 8px;
    height: 2px;
    background: #131313;
  }
  .service-menu:hover .service-link:after {
    background-color: #1a73e9;
  }
  .sub-menu {
    position: absolute;
    background: #fff;
    min-width: 240px;
    transition: all .3s ease-out 0s;
    top: 100%;
    opacity: 0;
    box-shadow: 0 25px 70px #00000014;
    visibility: hidden;
    z-index: 1000;
    left: -15px;
    text-align: left;
    transform: scaleY(0);
    transform-origin: 0 0;
  }
  .service-menu:hover .sub-menu {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  .sub-menu-active {
    max-width: 0;
    position: relative;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  .btn-one {
    z-index: 3;
    display: inline-flex;
    align-items: center;
    background-color: #1a73e9;
    color: #fff;
    font-size: 16px;
    padding: 22px 40px;
    text-transform: uppercase;
    font-weight: 600;
    overflow: hidden;
    border-radius: 34px;
    line-height: 26px;
    position: relative;
  }
  .btn-one:before, .btn-sub:before {
    content: "";
    position: absolute;
    height: 400px;
    width: 430px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translateY(-50%) translate(-50%) scale(0);
    transition: all .6s ease-out 0s;
    background-color: #0a58ca;
    z-index: -1;
  }
  .btn-one:hover:before, .btn-sub:hover:before {
    transform: translateY(-50%) translate(-50%) scale(1);
  }
  .home-hero-bg {
    background-image: url(/assets/home-hero-bg-vF0pmpTs.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%}
  .home-globe-bg {
    background-image: url(/assets/globe-CWumNSyk.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .4;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(2px);
  }
  .home-touch-bg {
    background-image: url(/assets/getInTouch-BG76YLql.jpg);
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    z-index: 1;
    height: 100%}
  .home-touch-bg:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #131313;
    opacity: .82;
    z-index: -2;
  }
  .animate-left-right {
    animation-name: left-right;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes left-right {
    0% {
    transform: translate(10px);
  }
  50% {
    transform: translate(110px);
  }
  to {
    transform: translate(10px);
  }
  }
  .subscribe-title:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 20%;
    top: 0;
    /* background-image: url(data:image/png;
    base64, iVBORw0KGgoAAAANSUhEUgAAAPoAAADcCAMAAABux0wkAAAANlBMVEUAAAD////////////////////////////////////////////////////////////////////xY8b8AAAAEXRSTlMAIECA37+fYBDvcJDPjzCvUDGWXNkAAAelSURBVHja7NvblpwgEIXhKg5aIHb3fv+XzcrKcQXapowaIfzXczHfFKMo3aRL+N4JndTL4+55Qyck94d/bT1BntBGEx3dilaKdGyMZgpChxbRTjMdWhvXuG8t/y99GvRBH/Qj6MncMXcF3dMdG/RBH/RBH/RBH/RBH/RBH/RBH/RBH/T7NeiDPuiDPuiDPuiDfhBd7NO9LfmZfq8rugnYzjH9rCs6B3zKCf2oK7rH5yz9rCM6oyJHP+qJblAT/WjQ70+P4SNdUFEidXp6Yjos9sAxl7mZ1OnpcPOBI6+hs9MM/Uw6sAodkDyBIl1v90Kn5Y7fPb1CBtj44WV632LoxNzRWwhZ8b2GHl8OGbxxaJeOEP9q5C3TgYl3j7x1OpyhHVmgffqeqx0n9EGHY/Uuphc6YJUb147oeLJi5H3R4ebdX+ULsaU3sr4gWGXPxhXw3NjL6LjjaidraeTtvYdnhyyr3sWkR5NHEFY1eFmRt0ijpy+FwYdZMXJnNKcvj9XhzNLE9XQiW7upfzNyBT3i9IJR0EvDdKZq4xpeRAr6CxcUWEEnWT5f7WL5lqaiO1yR19CJ5g+vMNiXb2kq+gOXFERFJ56QFTdHnlh/BHFNrKKXB//ktyPHQkT3nDpESyeeypt6Lt/S9HQJuCJHWnp5XUcSV76l6em04IpmPb04YEdx45ampIvD+SXS08v7G0obtzQlnXjC2S2ioG8Pngq3tGp6Hkd7ZlH+6pDZbtIdd/zhMRO26EDslr4C23SsfdLZ4yMdjjukG4cKOtzcHd0ii1DM9kVnj2o6EndENw4KOpzphh4BFR2wfdDFQ03HkzugG4cddDhunh6BXXQgtk2XJ+roy4KsVRqmPxwA5MKcbsundCq68Jnp6DF/KrVv6eXDmnq68Tg3z9V0mf4c4oO26CQTsmwt3eL8Yh09X+xPoU16+fdPXEWfcUWmih5D/if7RC8uevdq6/QlX+yGaujEpUXf0nt47/JLRB29/E/b0OlL4Tylmp5fJICGpp6dS2voxNk+6C6nL4l09MSkoxNZLZ0srmjW0RchNZ2MU9Il4fwW0tDDTLSDTuwV9GtO3UIkDd0x6ei/sko6iZnPzAhp6JPQbjq9Wv4CSCRS0Ks+XZTohknIn1aU9JpF/2S6W9mIvJCWXrXo3YPu1Rzyp80D6G8+anujZC1s4PT0Bhd9vtiZDqPTHO676F+huOvR05tb9Gu+gdtJ1+zUpn+/6L+0d0a5csIwFHVCgIQBhux/s1WlSv2wyaWAi13qfzTvvHNHOE5gwsxXK3eg49A/zc7Dnuk0uqvQL0KLr4JO2VboWdjTSlroRJOh0MfCx82X0N2EfhFWK6rolAdxcfi3K/R83KyNTjTV50MfC2/gdNBx6Cf6m7XI3zl9dArPhj70fLWihc6rezD0MfEG7hZ086HvwIxWHZ3C9+CD0tphH+kudNuhj4l/4gPotCY8J1cO+5DpEXQKvWro8cdNRDei2w09D/tKD6JT/Guhn4Q3uD2KTmH+Oz+G3aMG7jq6zdDzsEcygE6bdNhOOeyBTKBrhz73QgNnBF039GviT54aQqdRLfSTcDjGFLrW5Cp/hcMxxtCJPgqh52GfiOyhi3sU471hTyuZREehvx72byaj6PeGfk3CasUuOk23hX4qvIEzjX5X6PMgNHDG0cWNuTlcDntHZB5d3qPYroW9RHKBfjX0eRBS4wSd8nAh9CEJqxU36PJ6ZjsZ9pFcoZ8NfV6EvsAZurgx14c//ocNmdyhy61dRGHnaXeILj9F0aGwM+3uAs84YOhDqmKlzRc6Uw5DP5a6V0v2g86Ug9CjK1L0gr6m2q5vQDNdLt4FeldhpRWFnYu3j77O9Uh1zTbmI4o3ji4pL11qhJ6HvQ/idyYFy+ihl29n+bMb+q2Iq5Usie/sok9l94HEqcgky+5bPaMo3ib6jvJGxzLEubG2zYMk3iJ6Q7lMgh88HkXx1tDbyvFdT95bCaJ4W+hAOQs9uNsj8XbQG8rBQUN5bwWLt4IuKa8T+HBwARRvAV1UPq+gwQeNKhdv8BiRqLw7+e1QEK+Gnr9A+bHQf05Fq3sSfQPKj525KtvJdKXwFHr+nl1dhpk3cAri1dBjabRjqDrxCnwNFq+PnpdrA4Ux/fnhmJCweH30mIByzDEU1sApicfoysp5rQxcRzxGV1auOPrrgwK6gnKNncwyXUN3oByIP43uQTkQfxbdh3Ig/hy6E+Vcgv4LG1Yryml3XD0EFfTOjvLGuHq8H32d5ZnSkxUGUfxldKy8bPR0jUD8dfTQ21MOxN+EPhWTyqH44+julAPx59Dx7oKlwuIx+vH5qa0C4jG6T+VA/DF0p8obf+sQDqK7Vd4YV4/H0P0qB+IxumflDI2JP4qev96UN6aWQ/gD9M2j8pZ4hO5deUP8kg+hR7/KG+IjRs+LZ+VN8QA9JufKW+Ib6LLy2ZfylvjPLnpM1coLQ3XE1x30RVRu5YXgF6aWGL3+Q8rZuBqg230H/BXxGN3S7oLiDIOjW9tdUJxhYPR+i/9G7bFTfW39R39jvRm91LcWDfWllSjWl1ZP1Nd31ocop/rKCkQUXul9+NXmvg/+9/GAHN5VP8F/AHJ8weMb9aYGAAAAAElFTkSuQmCC);
    opacity: .07; */
    background-repeat: no-repeat;
  }
  .about-hero-bg {
    background-image: url(../../../Assets/images/AboutBanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: bisque;
    width: 100%}

    
  .blog-bg {
    background-image: url(/assets/images/bgCoverPhoto.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: initial;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  .blog-bg:after {
    content: "";
    position: absolute;
    background-color: #000e;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    opacity: .7;
    z-index: -2;
  }
  .contact-hero-bg {
    background-image: url(/assets/contact-hero-bg-Bxd_6SiW.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: initial;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  .contact-hero-bg:after {
    content: "";
    position: absolute;
    background-image: url(/assets/contact-banner-bg-DQ2PJkuv.png);
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -2;
  }
  .flip-card:hover {
    background-color: #131313;
  }
  .flip-card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://www.gooseittc.com/wp-content/themes/conbix/assets/img/shape/footer.png);
    background-size: cover;
    background-position: right;
    z-index: -1;
    opacity: .6;
    transition: .4s;
  }
  .spin-box:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border: 1px dashed #1a73e9;
    border-radius: 50%;
    display: block;
    top: -10px;
    left: -10px;
    animation: rotation 10s infinite linear;
  }
  @keyframes rotation {
    0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
  }.flip-card:hover .flip-animate {
    transform: rotateY(360deg);
  }
  .flip-card:hover .spin-box:after {
    animation: none;
  }
  .software-hero-bg {
    background-image: url(/assets/softwaredevImg-B58fgcQd.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  .software-hero-bg:before {
    content: "";
    position: absolute;
    background-color: #fff;
    opacity: .4;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  .technology-cons-hero-bg {
    background-image: url(/assets/tech-consulting-Dd3355fp.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  .technology-cons-hero-bg:before {
    content: "";
    position: absolute;
    background-color: #fff;
    opacity: .6;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  .technology-training-hero-bg {
    background-image: url(/assets/tech-training-h5R3ynh8.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  .postModal::-webkit-scrollbar {
    display: none;
  }
  .postModal {
    scroll-behavior: smooth;
  }
  .talent-hero-bg {
    background-image: url(/assets/talent-bg-CsYayFQd.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  .talent-hero-bg:before {
    content: "";
    position: absolute;
    background-color: #000e;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    opacity: .7;
    z-index: -2;
  }
  .mask {
    -webkit-mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 10%, hsl(0 0% 0% / 1) 90%, hsl(0 0% 0% / 0));
    mask-image: linear-gradient(to right, #0000, #000 10%, #000 90%, #0000);
  }
  
  
  
  
  
  